/.idea/
.env.local

# Python backend
python-backend/.venv/
python-backend/.env
python-backend/graphboard_backend.egg-info/
/python-backend/alembic/script.py.mako
openapi.json
python-backend/openapi.json

# Byte-compiled / cache files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.coverage
.coverage.*
*.coverage
htmlcov/
.pytest_cache/
**/.pytest_cache/

# Logs
logs/
**/logs/
*.log
**/*.log
